.projects-container {
  text-align: center;
  padding: 4rem 2rem;
  background: transparent;
}

.projects-container h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 15px;
}

.project-card a {
  text-decoration: none;
  color: #00aaff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.project-card a:hover {
  color: #0088cc;
}
