
.Herowraper{
    display: flex;
    justify-content: space-between;
    /* align-items: ce; */
    margin: auto;
    width: 90%;
    padding: 10px;
}
.hero-Img{
    width: 50%;
    /* border: 1px solid green; */
}
.hero-Img img{
    width:70%;
    margin: auto;
}
.hero-D{
    width: 50%;
}
.hero-D h1{
    font-size: 100px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-optical-sizing: auto;
    text-transform: capitalize;
    padding: 0;
    margin-top: 30px;
    /* padding: 0px; */
}
.hero-D span{
    font-size: 40px;
    /* padding-left: 0px; */
}
.hero-D p{
    font-size: 25px;
}

/* ----------------------------------------------- */

@media only screen and (max-width: 600px) {
    /* body {

    } */
  }