.contactcontainer{
    margin: auto;
    width: 90%;
}
.contactMeFormDetails{
    font-size: 30px;
   
    h1{
        font-size: 60px;        
    }
    button{
     
        padding: 10px;
        background-color: #0d0620a6;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
}
 button:hover{
    background-color:#2d214dd4;
}
.contactMeFormDetails div input,textarea{
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: transparent;
 text-transform: capitalize;
  outline: none;
  transition: border-color 0.3s ease;
}
.contactMeFormDetails div textarea{
      @apply bg-gradient-to-r from-blue-300 w-10/12 to-indigo-600 inline-block bg-clip-text
}
.contactMeFormDetails div textarea::placeholder{
     color: #9e93bb;
}
.contactMeFormDetails div input::placeholder{
     text-align: center;
     color: #ab9ecd;
     animation: blink 1s step-end infinite;
}
.ContactFormholder{
    display: flex;
    align-items: end;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}